# Unity test framework
tests/unity/

# Build artifacts
*.o
*.a
test_runner/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Temporary files
tmp